<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbK_a2BMmw34lfKOKsZHX2gI5MzEoesdw</string>
	<key>GCM_SENDER_ID</key>
	<string>448231393018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCalendarScheduler</string>
	<key>PROJECT_ID</key>
	<string>flutter-calendar-scheduler</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-calendar-scheduler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448231393018:ios:71c733bc63b713b773eb43</string>
</dict>
</plist>